@using LunchIncentro.Models
@model VestigingOverzicht
@{
    ViewBag.Title = "SpecificVestiging";
}
<script type="text/javascript">
    $(function () {
        $('[data-paychoice]').hide();
        $('#Select')
            .change(function() {
                var value = $(this).val();
                $('#ChosenPayH3').text(value);
                $('[data-paychoice]').hide();
                $('[data-paychoice*="' + value + '"').show();
            });
    })
</script>

<h2>SpecificVestiging</h2>

<div>vestiging: @Model.Vestiging.Name</div>
<div>user: @Model.Balance.User</div>
<div>balance: @Model.Balance.Balance</div>
<div>date: @Model.Balance.Date</div>
<div>standardcost: @Model.Vestiging.StandardCost</div>

<div><img src="@Model.Vestiging.Image"/></div>

<p>
    Wat wil je doen ? : @Html.DropDownList("payChoice", null, new {@id="Select"});
</p>

<div class="paychoice">
    <div class="col-xs-4">
    </div>

    <div class="col-xs-4">
        <h3 id="ChosenPayH3"></h3>
        <p data-paychoice="SaldoPay Increment">Huidig saldo: @Model.Balance.Balance</p>
        <p data-paychoice="SaldoPay DirectPay">Te betalen: <input type="number" value="@Model.Vestiging.StandardCost" step="any" min="0" max="50" /></p>
        <p data-paychoice="Increment ">Ophogen met: <input type="number" value="@Model.Vestiging.StandardCost" step="any" min="0" max="50" /></p>
        <p data-paychoice="SaldoPay Increment ">Toekomstig saldo: </p>
        <div data-paychoice="Increment DirectPay">Betaalkeuze</div>
        <input type="button" value="Akkoord"/>
    </div>

    <div class="col-xs-4"></div>
</div>