@using LunchIncentro.Controllers
@using LunchIncentro.Models
@using Microsoft.AspNet.Identity
@model IEnumerable<LunchIncentro.Models.VestigingOverzicht>
@{
    ViewBag.Title = "_LocationsPartial";
}

<h2>_LocationsPartial</h2>

<div>
    @foreach (var item in Model)
    {
        <div class="Vestiging-grid col-md-5ths col-xs-4">
            <img src="@item.Vestiging.Image" width="250" height="250"/>
            <h3>@item.Vestiging.Name</h3>
            @{ var balanceState = item.Balance.Balance > 0.0f ? "positiveBalance" : (item.Balance.Balance < 0.0f ? "negativeBalance" : "neutralBalance"); }
            <h4 class="@balanceState">current balance: @item.Balance.Balance</h4>
            
            @Html.ActionLink("Go to vestiging", "Index", "VestigingOverzicht", new { vestigingID = item.Vestiging.Id}, null);
        </div>
    }
</div>
